*{
    box-sizing: border-box;font-family: 'Inter', sans-serif;padding: 0;margin: 0;
}

:root{
    --primary-color:#101828;
    --secondary-color:#8E2424;
    --gray:#667085;
}

nav{
    padding-inline: 0.50rem;width:100%;margin-top: 1rem;
    display: flex;justify-content: space-evenly;
}

nav .logo{
    display: flex;align-items: center;
}

nav .links{
    align-items: center;display: flex;justify-content: space-around;
}

nav .links a{color:var(--gray);text-decoration: none;padding-inline: 1.5rem;font-weight: 500;}

nav .buttons{
    align-items: center;display: flex;width:15rem;
}

nav button{
    width:80%;border:none;border-radius:0.4rem;padding:5%;margin-inline: 0.2rem;
    font-size: 1rem;font-weight: 500;
}

nav .white{
    background-color: white;color:var(--gray);
}

nav .red{
    background-color: var(--secondary-color);color:white;
}

header{
    width: 82%;margin: 0 auto;height: 55vh;display: flex;
    justify-content: center;align-items: center;flex-direction: column;
}

header span{
    font-weight: 600;color: var(--secondary-color);line-height: 2.4rem;
}

header h1{
    color: var(--primary-color);font-size: 2.4rem;margin-bottom: 1.2rem;
}

header p{
    color: var(--gray);line-height: 30px;width: 60%;text-align: center;
}

section{
    display: flex;justify-content: space-between;
    width: 90vw;margin: 0 auto;gap: 20px;
}

section .metrics{width: 25%;}

section .metrics h1{
    color: var(--secondary-color);font-weight: 600;font-size: 4rem;
}

section .metrics span{
    color:var(--primary-color);font-weight: 600;font-size: 1.1rem;line-height: 28px;
}

section .metrics p{
    color: var(--gray);
}

@media only screen and (max-width: 420px){
    section{flex-direction: column;width:100vw;}
    section .metrics{width: 100%;}
}

.image-section{
    justify-content: center;align-items: center;display: flex;
    flex-direction: column;padding: 96px 0px;
}

.image-section span{
    color: var(--secondary-color);background-color: rgba(142, 36, 36, 0.05);
    font-weight: 500;border-radius: 16px;padding: 4px 12px;
}

.image-section h1{
    font-size: 2rem;font-weight: 600;line-height: 44px;margin-bottom: 0.5rem;
}

.image-section p{
    color: var(--gray);
}

.image-section img{    
    width: 87%;height: 400px;
    margin: 2.3rem auto;
}

.jobs{
    width: 80%;margin: 0 auto;
}

.jobs h2{
    font-weight: 500;color: var(--primary-color);font-size: 1.25rem;margin-bottom: 1.5rem;
}

.job-card{
    width: 45rem;height: 8.5rem;
    border: 1px solid #EAECF0;
    border-radius: 16px;margin-bottom: 1.3rem;
    padding: 1.5rem;
}

.job-card p{
    font-weight: 500;color: var(--primary-color);font-size: 1.1rem;line-height: 2.3rem;
}

.job-card span{font-weight: 500;color: var(--gray);line-height: 2.1rem;}
.job-card span:nth-of-type(even){margin-left: 1.1rem;}